<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">

    <div class="row">
      <div class="col-md-12">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-4">
              <h4 class="page-title">Campaign<span class="count-title">123</span></h4>
            </div>
            <div class="col-8 text-end">
              <div class="head-icons">
                <a [routerLink] = "routes.compaignArchieve" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-original-title="Refresh" matTooltip="Refresh">
                  <i class="ti ti-refresh-dot"></i>
                </a>
                <app-collapse-header></app-collapse-header>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Header -->

        <!-- Campaign Status -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="campaign-box bg-danger-light">
              <div class="campaign-img">
                <span>
                  <i class="ti ti-brand-campaignmonitor"></i>
                </span>
                <p>Campaign</p>
              </div>
              <h2>474</h2>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="campaign-box bg-warning-light">
              <div class="campaign-img">
                <span>
                  <i class="ti ti-send"></i>
                </span>
                <p>Sent</p>
              </div>
              <h2>454</h2>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="campaign-box bg-purple-light">
              <div class="campaign-img">
                <span>
                  <i class="ti ti-brand-feedly"></i>
                </span>
                <p>Opened</p>
              </div>
              <h2>658</h2>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="campaign-box bg-success-light">
              <div class="campaign-img">
                <span>
                  <i class="ti ti-brand-pocket"></i>
                </span>
                <p>Completed</p>
              </div>
              <h2>747</h2>
            </div>
          </div>
        </div>
        <!-- /Campaign Status -->

        <!-- Campaign Tab -->
        <div class="campaign-tab">
          <ul class="nav">
            <li>
              <a [routerLink] = "routes.compaignList">Active Campaign<span>24</span></a>
            </li>
            <li>
              <a [routerLink] = "routes.compaignComplete">Completed Campaign</a>
            </li>
            <li>
              <a [routerLink] = "routes.compaignArchieve" class="active">Archived Campaign</a>
            </li>
          </ul>
        </div>
        <!-- Campaign Tab -->

        <div class="card">
          <div class="card-header">
            <!-- Search -->
            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="icon-form mb-3 mb-sm-0">
                  <span class="form-icon"><i class="ti ti-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Campaign">
                </div>							
              </div>		
              <div class="col-sm-8">					
                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                  <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="ti ti-package-export me-2"></i>Export</a>
                    <div class="dropdown-menu  dropdown-menu-end">
                      <ul>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file-type-pdf text-danger me-1"></i>Export as PDF</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file-type-xls text-green me-1"></i>Export as Excel </a>
                        </li>
                      </ul>
                    </div>
                  </div>	
                  <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add New Campaign</a>
                </div>
              </div>
            </div>
            <!-- /Search -->
          </div>
          <div class="card-body">

            

            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2 mb-4">
              <div class="d-flex align-items-center flex-wrap row-gap-2">
                <div class="dropdown me-2">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort </a>
                  <div class="dropdown-menu  dropdown-menu-start">
                    <ul>
                      <li>
                        <a href="javascript:void(0);" class="dropdown-item">
                          <i class="ti ti-circle-chevron-right me-1"></i>Ascending
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="dropdown-item">
                          <i class="ti ti-circle-chevron-right me-1"></i>Descending
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="dropdown-item">
                          <i class="ti ti-circle-chevron-right me-1"></i>Recently Viewed
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="dropdown-item">
                          <i class="ti ti-circle-chevron-right me-1"></i>Recently Added
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="icon-form">
                  <span class="form-icon"><i class="ti ti-calendar"></i></span>
                  <app-date-range-picker></app-date-range-picker>
                </div>
              </div>
              <div class="d-flex align-items-center flex-wrap row-gap-2">
                <div class="dropdown me-2">
                  <a href="javascript:void(0);" class="btn bg-soft-purple text-purple" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ti ti-columns-3 me-2"></i>Manage Columns</a>
                  <div class="dropdown-menu  dropdown-menu-md-end dropdown-md p-3">
                    <h4 class="mb-2 fw-semibold">Want to manage datatables?</h4>
                    <p class="mb-3">Please drag and drop your column to reorder your table and enable see option as you want.</p>
                    <div class="border-top pt-3">
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Name</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-name" class="check">
                          <label for="col-name" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Type</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-phone" class="check">
                          <label for="col-phone" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Progress</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-email" class="check">
                          <label for="col-email" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Members</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-tag" class="check">
                          <label for="col-tag" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Start Date</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-loc" class="check">
                          <label for="col-loc" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>End Date</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-rate" class="check">
                          <label for="col-rate" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Status</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-owner" class="check">
                          <label for="col-owner" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mb-3">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Created</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-contact" class="check" checked="">
                          <label for="col-contact" class="checktoggle"></label>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0 d-flex align-items-center"><i class="ti ti-grip-vertical me-2"></i>Action</p>
                        <div class="status-toggle">
                          <input type="checkbox" id="col-action" class="check">
                          <label for="col-action" class="checktoggle"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-sorts dropdown">
                  <a href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ti ti-filter-share"></i>Filter</a>
                  <div class="filter-dropdown-menu dropdown-menu  dropdown-menu-md-end p-3">
                    <div class="filter-set-view">
                      <div class="filter-set-head">
                        <h4><i class="ti ti-filter-share"></i>Filter</h4>
                      </div>
                      <div class="accordion" id="accordionExample">
                        <div class="filter-set-content">
                          <div class="filter-set-content-head">
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Name</a>
                          </div>
                          <div class="filter-set-contents accordion-collapse collapse show" id="collapseTwo" data-bs-parent="#accordionExample">
                            <div class="filter-content-list">
                              <div class="mb-2 icon-form">
                                <span class="form-icon"><i class="ti ti-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search Name">
                              </div>
                              <ul>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Distribution
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Merchandising
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Pricing
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Increased sales
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Brand recognition
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="filter-set-content">
                          <div class="filter-set-content-head">
                            <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#owner" aria-expanded="false" aria-controls="owner">Type</a>
                          </div>
                          <div class="filter-set-contents accordion-collapse collapse" id="owner" data-bs-parent="#accordionExample">
                            <div class="filter-content-list">
                              <ul>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox" checked="">
                                      <span class="checkmarks"></span>
                                      Public Relations
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Content Marketing
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Brand
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="filter-set-content">
                          <div class="filter-set-content-head">
                            <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#Status" aria-expanded="false" aria-controls="Status">Start Date</a>
                          </div>
                          <div class="filter-set-contents accordion-collapse collapse" id="Status" data-bs-parent="#accordionExample">
                            <div class="filter-content-list">
                              <ul>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox" checked="">
                                      <span class="checkmarks"></span>
                                      25 Sep 2023
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      29 Sep 2023
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="filter-set-content">
                          <div class="filter-set-content-head">
                            <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">End Date</a>
                          </div>
                          <div class="filter-set-contents accordion-collapse collapse" id="collapseOne" data-bs-parent="#accordionExample">
                            <div class="filter-content-list">
                              <ul>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox" checked="">
                                      <span class="checkmarks"></span>
                                      19 Oct 2023
                                    </label>
                                  </div>
                                  
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      23 Nov 2023
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="filter-set-content">
                          <div class="filter-set-content-head">
                            <a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Status</a>
                          </div>
                          <div class="filter-set-contents accordion-collapse collapse" id="collapseThree" data-bs-parent="#accordionExample">
                            <div class="filter-content-list">
                              <ul>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox" checked="">
                                      <span class="checkmarks"></span>
                                      Success
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Pending
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Bounced
                                    </label>
                                  </div>
                                </li>
                                <li>
                                  <div class="filter-checks">
                                    <label class="checkboxs">
                                      <input type="checkbox">
                                      <span class="checkmarks"></span>
                                      Paused
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>													
                      <div class="filter-reset-btns">
                        <div class="row">
                          <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-light">Reset</a>
                          </div>
                          <div class="col-6">
                            <a [routerLink]="routes.compaignList" class="btn btn-primary">Filter</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                    <!-- Campaign List -->
                    <div class="table-responsive custom-table">
                      <table class="table" id="campaign-list" matSort (matSortChange)="sortData($event)">
                        <thead class="thead-light">
                          <tr>
                            <th class="no-sort">
                               <label class="checkboxs" (click)="selectAll(initChecked)"  (keydown.enter)="selectAll(initChecked)" tabindex="0">
                                <input type="checkbox" [(ngModel)]="initChecked"><span
                              class="checkmarks"></span></label>
                            </th>
                            <th></th>
                            <th mat-sort-header="name">Name</th>
                            <th mat-sort-header="type">Type</th>
                            <th mat-sort-header="progress">Progress</th>
                            <th mat-sort-header="members">Members</th>
                            <th mat-sort-header="start_date">Start Date</th>
                            <th mat-sort-header="end_date">End Date</th>
                            <th mat-sort-header="status">Status</th>
                            <th mat-sort-header="created_date">Created</th>
                            <th class="text-end">Action</th>
                          </thead>
                          <tbody>
                            @for (data of tableData; track data) {
                              <tr class="odd">
                                <td class="sorting_1"><label class="checkboxs"><input type="checkbox"
                                  [(ngModel)]="data.isSelected"><span
                                class="checkmarks"></span></label></td>
                                <td>
                                  <div class="set-star rating-select"><i class="fa fa-star"></i></div>
                                </td>
                                <td>{{data.name}}</td>
                                <td>{{data.type}}</td>
                                <td>
                                  <ul class="list-progress">
                                    <li>
                                      <h6>{{data.open}}</h6>
                                      <p>Opened</p>
                                    </li>
                                    <li>
                                      <h6>{{data.close}}</h6>
                                      <p>Closed</p>
                                    </li>
                                    <li>
                                      <h6>{{data.unscubscribe}}</h6>
                                      <p>Unsubscribe</p>
                                    </li>
                                    <li>
                                      <h6>{{data.delivered}}</h6>
                                      <p>Delivered</p>
                                    </li>
                                    <li>
                                      <h6>{{data.converstion}}</h6>
                                      <p>Conversation</p>
                                    </li>
                                  </ul>
                                </td>
                                <td>
                                  <ul class="project-mem">
                                    <li><a href="javascript:void(0);"><img [src]="data.mem_image1"
                                    alt="img"></a></li>
                                    <li><a href="javascript:void(0);"><img [src]="data.mem_image2"
                                    alt="img"></a></li>
                                    <li><a href="javascript:void(0);"><img [src]="data.mem_image3"
                                    alt="img"></a></li>
                                    <li class="more-set"><a href="javascript:void(0);">3+</a></li>
                                  </ul>
                                </td>
                                <td>{{data.start_date}}</td>
                                <td>{{data.end_date}}</td>
                                        <td><span class="badge badge-pill badge-status" [ngClass]="{
                                                    'bg-success': data.status === 'Success', 
                                                    'bg-warning': data.status === 'Pending'
                                                }">{{data.status}}</span>
                              </td>
                              <td>{{data.created_date}}</td>
                              <td>
                                <div class="dropdown table-action"><a href="javascript:void(0);"
                                  class="action-icon " data-bs-toggle="dropdown"
                                  aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                  <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit" href="javascript:void(0);"><i class="ti ti-edit text-blue"></i> Edit</a><a
                                  class="dropdown-item" href="javascript:void(0);"
                                  data-bs-toggle="modal" data-bs-target="#delete_campaign"><i
                                class="ti ti-trash text-danger"></i> Delete</a></div>
                              </div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                  <app-custom-pagination></app-custom-pagination>
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <div class="datatable-length"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="datatable-paginate"></div>
                    </div>
                  </div>
                  <!-- /Campaign List -->

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- /Page Wrapper -->

     <!-- Add New Campaign -->
<div
class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add"
>
 
<div class="offcanvas-header border-bottom">
  <h4>Add New Campaign</h4>
  <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close">
    <i class="ti ti-x"></i>
  </button>
</div>
    <div class="offcanvas-body">
      <form>
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Name <span class="text-danger">*</span></label
                >
                <input type="text" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Campaign Type <span class="text-danger">*</span></label
                >
                <p-dropdown
                  [options]="selectedValue1"
                  [(ngModel)]="selectedDatas1"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Choose"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-data1 pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ data1.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Deal Value<span class="text-danger"> *</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Currency <span class="text-danger">*</span></label
                >
                <mat-select class="select custom-mat-select" placeholder="Choose">
                  <mat-option value="1">Choose</mat-option>
                  <mat-option value="1">Dollar</mat-option>
                  <mat-option value="1">Euro</mat-option>
                  <mat-option value="1">Pound</mat-option>
                  <mat-option value="1">Rupee</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Period <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Period Value <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Target Audience <span class="text-danger">*</span></label
                >
                <mat-select
                  class="custom-mat-select height-add"
                  placeholder="Choose"
                  [(value)]="matSelectChipDataSelected2"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (option of matSelectChipDataSelected2; track option)
                      {
                      <mat-chip
                        [removable]="true"
                        (removed)="removeOptionUnique2(option)"
                      >
                        {{ option }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (option of matSelectChipData2; track option) {
                  <mat-option
                    class="img-mat-select-mat-chip-options"
                    [value]="option"
                    >{{ option }}</mat-option
                  >
                  }
                </mat-select>
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Description <span class="text-danger">*</span></label
                >
                <textarea class="form-control" rows="4"></textarea>
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Attachment</label
                >
                <div class="drag-attach">
                  <input type="file" />
                  <div class="img-upload">
                    <i class="ti ti-file-broken"></i>Upload File
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="col-form-label" for="reason">Uploaded Files</label>
                <div class="upload-file upload-list">
                  <div>
                    <h6>tes.txt</h6>
                    <p>4.25 MB</p>
                  </div>
                  <a href="javascript:void(0);" class="text-danger"
                    ><i class="ti ti-trash-x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
          <button type="button" class="btn btn-primary" >Create</button>
        </div>
      </form>
    </div>
  
</div>
<!-- /Add New Campaign -->

<!-- Edit Campaign -->
<div
class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit"
>
 
<div class="offcanvas-header border-bottom">
  <h4>Edit Campaign</h4>
  <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close">
    <i class="ti ti-x"></i>
  </button>
</div>
    <div class="offcanvas-body">
      <form >
        <div class="pro-create">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  value="Enhanced brand"
                />
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Campaign Type <span class="text-danger">*</span></label
                >
                <p-dropdown
                  [options]="selectedValue2"
                  [(ngModel)]="selectedDatas2"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Choose"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-data2 pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ data2.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Deal Value<span class="text-danger"> *</span></label
                >
                <input class="form-control" type="text" value="$12,989" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Currency <span class="text-danger">*</span></label
                >
                <mat-select class="select custom-mat-select" placeholder="Choose">
                  <mat-option value="1">Choose</mat-option>
                  <mat-option value="1">Dollar</mat-option>
                  <mat-option value="1">Euro</mat-option>
                  <mat-option value="1">Pound</mat-option>
                  <mat-option value="1">Rupee</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Period <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Period Value <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Target Audience <span class="text-danger">*</span></label
                >
                <mat-select
                  class="custom-mat-select height-add"
                  placeholder="Choose"
                  [(value)]="matSelectChipDataSelected"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (option of matSelectChipDataSelected; track option) {
                      <mat-chip
                        [removable]="true"
                        (removed)="removeOptionUnique(option)"
                      >
                        {{ option }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (option of matSelectChipData; track option) {
                  <mat-option
                    class="img-mat-select-mat-chip-options"
                    [value]="option"
                    >{{ option }}</mat-option
                  >
                  }
                </mat-select>
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Description <span class="text-danger">*</span></label
                >
                <textarea class="form-control" rows="4"></textarea>
              </div>
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Attachment</label
                >
                <div class="drag-attach">
                  <input type="file" />
                  <div class="img-upload">
                    <i class="ti ti-file-broken"></i>Upload File
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="col-form-label" for="reason">Uploaded Files</label>
                <div class="upload-file upload-list">
                  <div>
                    <h6>tes.txt</h6>
                    <p>4.25 MB</p>
                  </div>
                  <a href="javascript:void(0);" class="text-danger"
                    ><i class="ti ti-trash-x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-button text-end">
          <a href="javascript:void(0);" class="btn btn-light sidebar-close1"
            >Cancel</a
          >
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
 
</div>
<!-- /Edit Campaign -->

<!-- Delete Campaign -->
<div class="modal custom-modal fade" id="delete_campaign" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="text-center">
          <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
            <i class="ti ti-trash-x fs-36 text-danger"></i>
          </div>
          <h4 class="mb-2">Remove campaign?</h4>
          <p class="mb-0">Are you sure you want to remove <br> campaign you selected.</p>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <a [routerLink]="routes.compaignList" class="btn btn-danger">Yes, Delete it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Campaign -->

<!-- Create Deal -->
<div class="modal custom-modal fade" id="create_pipeline" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 m-0 justify-content-end">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="success-message text-center">
          <div class="success-popup-icon bg-light-blue">
            <i class="ti ti-medal"></i>
          </div>
          <h3>Campaign Created Successfully!!!</h3>
          <p>View the details of campaign, created</p>
          <div class="col-lg-12 text-center modal-btn">
            <a
              href="javascript:void(0);"
              class="btn btn-light"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <a [routerLink]="routes.compaignList" class="btn btn-primary"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Create Deal -->

<!-- Add New View -->
<div class="modal custom-modal fade" id="save_view" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New View</h5>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label" for="reason">View Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="modal-btn text-end">
            <a
              href="javascript:void(0);"
              class="btn btn-light"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add New View -->
