<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-4">
              <h4 class="page-title">
                Projects<span class="count-title">123</span>
              </h4>
            </div>
            <div class="col-8 text-end">
              <div class="head-icons">
                <a
                  [routerLink]="routes.projectLists"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-original-title="Refresh"
                  matTooltip="Refresh"
                >
                  <i class="ti ti-refresh-dot"></i>
                </a>
                <app-collapse-header></app-collapse-header>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Header -->

        <div class="card">
          <div class="card-header">
            <!-- Search -->

            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="icon-form mb-3 mb-sm-0">
                  <span class="form-icon"><i class="ti ti-search"></i></span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Projects"
                  />
                </div>
              </div>
              <div class="col-sm-8">
                <div
                  class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end"
                >
                  <div class="dropdown me-2">
                    <a
                      href="javascript:void(0);"
                      class="dropdown-toggle"
                      data-bs-toggle="dropdown"
                      ><i class="ti ti-package-export me-2"></i>Export</a
                    >
                    <div class="dropdown-menu dropdown-menu-end">
                      <ul>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="ti ti-file-type-pdf text-danger me-1"></i
                            >Export as PDF</a
                          >
                        </li>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"
                            ><i class="ti ti-file-type-xls text-green me-1"></i
                            >Export as Excel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add New Project</a>
                </div>
              </div>
            </div>
            <!-- /Search -->
          </div>

          <div class="card-body">
           <!-- Filter -->
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2 mb-4">
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<div class="dropdown me-2">
											<a href="javascript:void(0);" class="dropdown-toggle"
												data-bs-toggle="dropdown"><i class="ti ti-sort-ascending-2 me-2"></i>Sort
											</a>
											<div class="dropdown-menu  dropdown-menu-start">
												<ul>
													<li>
														<a href="javascript:void(0);" class="dropdown-item">
															<i class="ti ti-circle-chevron-right me-1"></i>Ascending
														</a>
													</li>
													<li>
														<a href="javascript:void(0);" class="dropdown-item">
															<i class="ti ti-circle-chevron-right me-1"></i>Descending
														</a>
													</li>
													<li>
														<a href="javascript:void(0);" class="dropdown-item">
															<i class="ti ti-circle-chevron-right me-1"></i>Recently
															Viewed
														</a>
													</li>
													<li>
														<a href="javascript:void(0);" class="dropdown-item">
															<i class="ti ti-circle-chevron-right me-1"></i>Recently
															Added
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="icon-form">
											<span class="form-icon"><i class="ti ti-calendar"></i></span>
                      <app-date-range-picker></app-date-range-picker>
										</div>
										
									</div>
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<div class="dropdown me-2">
											<a href="javascript:void(0);" class="btn bg-soft-purple text-purple"
												data-bs-toggle="dropdown" data-bs-auto-close="outside"><i
													class="ti ti-columns-3 me-2"></i>Manage Columns</a>
											<div class="dropdown-menu  dropdown-menu-md-end dropdown-md p-3">
												<h4 class="mb-2 fw-semibold">Want to manage datatables?</h4>
												<p class="mb-3">Please drag and drop your column to reorder your table
													and enable see option as you want.</p>
												<div class="border-top pt-3">
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Name</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-name" class="check">
															<label for="col-name" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Client</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-phone" class="check">
															<label for="col-phone" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Priority</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-email" class="check">
															<label for="col-email" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Start Date</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-tag" class="check">
															<label for="col-tag" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Due Date</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-loc" class="check">
															<label for="col-loc" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Type</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-rate" class="check">
															<label for="col-rate" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Pipeline Stage</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-rate" class="check">
															<label for="col-rate" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Status</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-rate" class="check" checked="">
															<label for="col-rate" class="checktoggle"></label>
														</div>
													</div>
													<div class="d-flex align-items-center justify-content-between mb-3">
														<p class="mb-0 d-flex align-items-center"><i
																class="ti ti-grip-vertical me-2"></i>Action</p>
														<div class="status-toggle">
															<input type="checkbox" id="col-rate" class="check">
															<label for="col-rate" class="checktoggle"></label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-sorts dropdown me-2">
											<a href="javascript:void(0);" data-bs-toggle="dropdown"
												data-bs-auto-close="outside"><i
													class="ti ti-filter-share"></i>Filter</a>
											<div class="filter-dropdown-menu dropdown-menu  dropdown-menu-md-end p-3">
												<div class="filter-set-view">
													<div class="filter-set-head">
														<h4><i class="ti ti-filter-share"></i>Filter</h4>
													</div>
													<div class="accordion" id="accordionExample">
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" data-bs-toggle="collapse"
																	data-bs-target="#collapseTwo" aria-expanded="true"
																	aria-controls="collapseTwo">Project Name</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse show"
																id="collapseTwo" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<div class="mb-2 icon-form">
																		<span class="form-icon"><i
																				class="ti ti-search"></i></span>
																		<input type="text" class="form-control"
																			placeholder="Search Name">
																	</div>
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					Truelysell
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Dreamschat
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Servbook
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Doccure
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Dreamsports
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#client" aria-expanded="false"
																	aria-controls="client">Client Name</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="client" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<div class="mb-2 icon-form">
																		<span class="form-icon"><i
																				class="ti ti-search"></i></span>
																		<input type="text" class="form-control"
																			placeholder="Search Client">
																	</div>
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					NovaWave LLC
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					BlueSky Industries
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Silver Hawk
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Summit Peak
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					CoastalStar Co.
																				</label>
																			</div>
																		</li>

																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#type" aria-expanded="false"
																	aria-controls="type">Type</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="type" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					Web App
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Meeting
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Mobile App
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#collapseOne" aria-expanded="false"
																	aria-controls="collapseOne">Start Date</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="collapseOne" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					25 Sep 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					29 Sep 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					29 Sep 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					14 Oct 2023
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#collapsetwo" aria-expanded="false"
																	aria-controls="collapsetwo">End Date</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="collapsetwo" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					19 Oct 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					23 Nov 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					14 Dec 2023
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					09 Dec 2023
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#Stage" aria-expanded="false"
																	aria-controls="Stage">Pipeline Stage</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="Stage" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					Plan
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Develop
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Completed
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="filter-set-content">
															<div class="filter-set-content-head">
																<a href="javascript:void(0);" class="collapsed" data-bs-toggle="collapse"
																	data-bs-target="#Status" aria-expanded="false"
																	aria-controls="Status">Status</a>
															</div>
															<div class="filter-set-contents accordion-collapse collapse"
																id="Status" data-bs-parent="#accordionExample">
																<div class="filter-content-list">
																	<ul>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox" checked>
																					<span class="checkmarks"></span>
																					Active
																				</label>
																			</div>
																		</li>
																		<li>
																			<div class="filter-checks">
																				<label class="checkboxs">
																					<input type="checkbox">
																					<span class="checkmarks"></span>
																					Inactive
																				</label>
																			</div>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="filter-reset-btns">
														<div class="row">
															<div class="col-6">
																<a href="javascript:void(0);" class="btn btn-light">Reset</a>
															</div>
															<div class="col-6">
																<a [routerLink]="routes.projectLists" class="btn btn-primary">Filter</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="view-icons">
											<a [routerLink]="routes.projectLists" class="active"><i class="ti ti-list-tree"></i></a>
											<a [routerLink]="routes.projectGrid"><i class="ti ti-grid-dots"></i></a>
										</div>
									</div>
								</div>
								<!-- /Filter -->

            <!-- Projects List -->
            <div class="table-responsive custom-table">
              <table
                matSort
                (matSortChange)="sortData($event)"
                class="table"
                id="project-list"
              >
                <thead class="thead-light">
                  <tr>
                    <th class="no-sort">
                       <label class="checkboxs" (click)="selectAll(initChecked)"  (keydown.enter)="selectAll(initChecked)" tabindex="0">
                        <input
                          type="checkbox"
                          [(ngModel)]="initChecked"
                          [ngModelOptions]="{ standalone: true }" /><span
                          class="checkmarks"
                        ></span
                      ></label>
                    </th>
                    <th></th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="client">Client</th>
                    <th mat-sort-header="priority">Priority</th>
                    <th mat-sort-header="start_date">Start Date</th>
                    <th mat-sort-header="end_date">End Date</th>
                    <th mat-sort-header="type">Type</th>
                    <th mat-sort-header="pipelineStage">Pipeline Stage</th>
                    <th mat-sort-header="status">Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                  <tr class="odd">
                    <td class="sorting_1">
                      <label class="checkboxs"
                        ><input
                          type="checkbox"
                          [(ngModel)]="data.isSelected" /><span
                          class="checkmarks"
                        ></span
                      ></label>
                    </td>
                    <td>
                      <div
                        class="set-star rating-select"
                        (click)="onClickStar(data)"
                        tabindex="0" 
                      (keydown.enter)="onClickStar(data)"
                        [class.filled]="data.isStarActive"
                      >
                        <i class="fa fa-star"></i>
                      </div>
                    </td>
                    <td>
                      <h2 class="table-avatar d-flex align-items-center">
                        <a
                          [routerLink]="routes.projectDetails"
                          class="avatar avatar-sm border me-2"
                          ><img
                            class="w-auto h-auto"
                            [src]="data.pro_img"
                            alt="User Image" /></a
                        ><a
                          [routerLink]="routes.projectDetails"
                          class="profile-split d-flex flex-column"
                          >{{ data.name }}</a
                        >
                      </h2>
                    </td>
                    <td>
                      <h2 class="table-avatar d-flex align-items-center">
                        <a
                          [routerLink]="routes.companiesDetails"
                          class="avatar avatar-sm border me-2"
                          ><img
                            class="w-auto h-auto"
                            [src]="data.client_img"
                            alt="User Image" /></a
                        ><a
                          [routerLink]="routes.companiesDetails"
                          class="profile-split d-flex flex-column"
                          >{{ data.client }}</a
                        >
                      </h2>
                    </td>
                    <td>
                      <span
                        class="priority badge badge-tag"
                        [ngClass]="{
                          'badge-danger-light': data.priority === 'High',
                          'badge-warning-light': data.priority === 'Medium',
                          'badge-success-light': data.priority === 'Low'
                        }"
                        ><i class="ti ti-square-rounded-filled"></i
                        >{{ data.priority }}</span
                      >
                    </td>
                    <td>{{ data.start_date }}</td>
                    <td>{{ data.end_date }}</td>
                    <td>{{ data.type }}</td>
                    <td>
                      <div class="pipeline-progress d-flex align-items-center">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            [ngClass]="{
                              'progress-bar-violet':
                                data.pipelineStage === 'Plan',
                              'progress-bar-info':
                                data.pipelineStage === 'Develop',
                              'progress-bar-success':
                                data.pipelineStage === 'Completed',
                              'progress-bar-warning':
                                data.pipelineStage === 'Design'
                            }"
                          ></div>
                        </div>
                        <span>{{ data.pipelineStage }}</span>
                      </div>
                    </td>
                    <td>
                      <span
                        class="badge badge-pill badge-status"
                        [ngClass]="{
                          'bg-success': data.status === 'Active',
                          'bg-danger': data.status === 'Inactive'
                        }"
                        >{{ data.status }}</span
                      >
                    </td>
                    <td>
                      <div class="dropdown table-action">
                        <a
                          href="javascript:void(0);"
                          class="action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fa fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item " data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit" href="javascript:void(0);"><i class="ti ti-edit text-blue"></i> Edit</a>
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_project"
                            ><i class="ti ti-trash text-danger"></i> Delete</a
                          ><a class="dropdown-item" href="javascript:void(0);"
                            ><i class="ti ti-clipboard-copy text-green"></i>
                            Clone this Project</a
                          ><a class="dropdown-item" href="javascript:void(0);"
                            ><i class="ti ti-printer text-info"></i> Print</a
                          ><a class="dropdown-item" href="javascript:void(0);"
                            ><i class="ti ti-subtask"></i> Add New Task</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="datatable-length"></div>
              </div>
              <div class="col-md-6">
                <div class="datatable-paginate"></div>
              </div>
            </div>
            <!-- /Projects List -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add New Project -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
  
    <div class="offcanvas-header border-bottom">
      <h4>Add New Project</h4>
      <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="ti ti-x"></i>
      </button>
    </div>
    <div class="offcanvas-body">
      <form >
        <div >
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label" for="name"
                  >Name <span class="text-danger">*</span></label
                >
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Project"
                  >Project ID<span class="text-danger"> *</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Type"
                  >Project Type <span class="text-danger">*</span></label
                >
                <p-dropdown
                  [options]="selectedValue1"
                  [(ngModel)]="selectedDatas1"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Choose"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-data1 pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ data1.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Client"
                  >Client <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="NovaWave LLC">NovaWave LLC</mat-option>
                  <mat-option value="SilverHawk">SilverHawk</mat-option>
                  <mat-option value="HarborView">HarborView</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Category"
                  >Category <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="HarborView">HarborView</mat-option>
                  <mat-option value="LLC">LLC</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Project"
                  >Project Timing <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="Hourly">Hourly</mat-option>
                  <mat-option value="Minutes">Minutes</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Price"
                  >Price <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Amount"
                  >Amount <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Total"
                  >Total <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Responsible"
                  >Responsible Persons <span class="text-danger">*</span></label
                >
                <mat-select
                  [(value)]="selectedOption1"
                  class="custom-mat-select img-mat-select-mat-chip"
                  placeholder="Choose Person"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (user of selectedOption1; track user) {
                      <mat-chip>
                        <img
                          [src]="user.image"
                          alt="{{ user.name }}"
                          width="24"
                          height="24"
                          style="margin-right: 5px"
                        />
                        {{ user.name }}
                        <mat-icon
                          class="cancel-icon"
                          (click)="removeOption1(user)"
                          >cancel</mat-icon
                        >
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (user of option1; track user) {
                  <mat-option
                    [value]="user"
                    class="img-mat-select-mat-chip-options"
                  >
                    <img
                      src="{{ user.image }}"
                      alt="{{ user.name }}"
                      width="24"
                      height="24"
                      style="margin-right: 5px"
                    />
                    {{ user.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"  for="Team"
                  >Team Leader <span class="text-danger">*</span></label
                >
                <mat-select
                  [(value)]="selectedOption2"
                  class="custom-mat-select img-mat-select-mat-chip"
                  placeholder="Choose Leader"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (user of selectedOption2; track user) {
                      <mat-chip>
                        <img
                          [src]="user.image"
                          alt="{{ user.name }}"
                          width="24"
                          height="24"
                          style="margin-right: 5px"
                        />
                        {{ user.name }}
                        <mat-icon
                          class="cancel-icon"
                          (click)="removeOption2(user)"
                          >cancel</mat-icon
                        >
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (user of option2; track user) {
                  <mat-option
                    [value]="user"
                    class="img-mat-select-mat-chip-options"
                  >
                    <img
                      src="{{ user.image }}"
                      alt="{{ user.name }}"
                      width="24"
                      height="24"
                      style="margin-right: 5px"
                    />
                    {{ user.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="Start"
                  >Start Date <span class="text-danger">*</span></label
                >
                <div class="icon-form">
                  <span class="form-icon"
                    ><i class="ti ti-calendar-event"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }"
                    value="29-02-2020"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3"> 
                <label class="col-form-label" for="due"
                  >Due Date <span class="text-danger">*</span></label
                >
                <div class="icon-form">
                  <span class="form-icon"
                    ><i class="ti ti-calendar-event"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }"
                    value="29-02-2020"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="reason">Priority</label>
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="High">High</mat-option>
                  <mat-option value="Low">Low</mat-option>
                  <mat-option value="Medium">Medium</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="reason">Status</label>
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Description <span class="text-danger">*</span></label
                >
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_project">Create</button>
        </div>
      </form>
    </div>
  
</div>
<!-- /Add New Project -->

<!-- Edit Project -->
<div
class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit"
>
<div class="offcanvas-header border-bottom">
  <h4>Edit Project</h4>
  <button type="button" class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle" data-bs-dismiss="offcanvas" aria-label="Close">
    <i class="ti ti-x"></i>
  </button>
</div>
    <div class="offcanvas-body">
      <form >
        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Name <span class="text-danger">*</span></label
                >
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Project ID<span class="text-danger"> *</span></label
                >
                <input class="form-control" type="text" value="12" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Project Type <span class="text-danger">*</span></label
                >
                <p-dropdown
                  [options]="selectedValue2"
                  [(ngModel)]="selectedDatas2"
                  [ngModelOptions]="{ standalone: true }"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Choose"
                >
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-data1 pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ data1.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Client <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="NovaWave LLC">NovaWave LLC</mat-option>
                  <mat-option value="SilverHawk">SilverHawk</mat-option>
                  <mat-option value="HarborView">HarborView</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Category <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="HarborView">HarborView</mat-option>
                  <mat-option value="LLC">LLC</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Project Timing <span class="text-danger">*</span></label
                >
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="Hourly">Hourly</mat-option>
                  <mat-option value="Minutes">Minutes</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Price <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Amount <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Total <span class="text-danger">*</span></label
                >
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Responsible Persons <span class="text-danger">*</span></label
                >
                <mat-select
                  [(value)]="selectedOption3"
                  class="custom-mat-select img-mat-select-mat-chip"
                  placeholder="Choose Person"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (user of selectedOption3; track user) {
                      <mat-chip>
                        <img
                          [src]="user.image"
                          alt="{{ user.name }}"
                          width="24"
                          height="24"
                          style="margin-right: 5px"
                        />
                        {{ user.name }}
                        <mat-icon
                          class="cancel-icon"
                          (click)="removeOption3(user)"
                          >cancel</mat-icon
                        >
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (user of option3; track user) {
                  <mat-option
                    [value]="user"
                    class="img-mat-select-mat-chip-options"
                  >
                    <img
                      src="{{ user.image }}"
                      alt="{{ user.name }}"
                      width="24"
                      height="24"
                      style="margin-right: 5px"
                    />
                    {{ user.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Team Leader <span class="text-danger">*</span></label
                >
                <mat-select
                  [(value)]="selectedOption4"
                  class="custom-mat-select img-mat-select-mat-chip"
                  placeholder="Choose Leader"
                  multiple
                >
                  <mat-select-trigger>
                    <mat-chip-set>
                      @for (user of selectedOption4; track user) {
                      <mat-chip>
                        <img
                          [src]="user.image"
                          alt="{{ user.name }}"
                          width="24"
                          height="24"
                          style="margin-right: 5px"
                        />
                        {{ user.name }}
                        <mat-icon
                          class="cancel-icon"
                          (click)="removeOption4(user)"
                          >cancel</mat-icon
                        >
                      </mat-chip>
                      }
                    </mat-chip-set>
                  </mat-select-trigger>
                  @for (user of option4; track user) {
                  <mat-option
                    [value]="user"
                    class="img-mat-select-mat-chip-options"
                  >
                    <img
                      src="{{ user.image }}"
                      alt="{{ user.name }}"
                      width="24"
                      height="24"
                      style="margin-right: 5px"
                    />
                    {{ user.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label"
          for="text"        >Start Date <span class="text-danger">*</span></label
                >
                <div class="icon-form">
                  <span class="form-icon"
                    ><i class="ti ti-calendar-event"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }"
                    value="29-02-2020"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="due"
                  >Due Date <span class="text-danger">*</span></label
                >
                <div class="icon-form">
                  <span class="form-icon"
                    ><i class="ti ti-calendar-event"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control datetimepicker"
                    bsDatepicker
                    [bsConfig]="{ adaptivePosition: true }"
                    value="29-02-2020"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="reason">Priority</label>
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="High">High</mat-option>
                  <mat-option value="Low">Low</mat-option>
                  <mat-option value="Medium">Medium</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="col-form-label" for="reason">Status</label>
                <mat-select
                  class="select custom-mat-select"
                  placeholder="Select"
                >
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <label class="col-form-label" for="Description"
                  >Description <span class="text-danger">*</span></label
                >
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
          <button type="button" class="btn btn-primary" >Save Changes</button>
        </div>
      </form>
    </div>
 
</div>
<!-- /Edit Project -->

<!-- Delete Project -->
<div class="modal  fade" id="delete_project" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="text-center">
          <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
            <i class="ti ti-trash-x fs-36 text-danger"></i>
          </div>
          <h4 class="mb-2">Remove Project?</h4>
          <p class="mb-0">Are you sure you want to remove <br> project you selected.</p>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <a [routerLink]="routes.projectLists" class="btn btn-danger">Yes, Delete it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Project -->

<!-- Create Project -->
<div class="modal custom-modal fade" id="create_project" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 m-0 justify-content-end">
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="success-message text-center">
          <div class="success-popup-icon bg-light-blue">
            <i class="ti ti-atom-2"></i>
          </div>
          <h3>Project Created Successfully!!!</h3>
          <p>View the details of project, created</p>
          <div class="col-lg-12 text-center modal-btn">
            <a
              href="javascript:void(0);"
              class="btn btn-light"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <a (click)="navigateToGigs()" (keydown.enter)="navigateToGigs()"   tabindex="0" class="btn btn-primary"
              >View Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Create Project -->

<!-- Add New View -->
<div class="modal custom-modal fade" id="save_view" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New View</h5>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="ti ti-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label" for="reason">View Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="modal-btn text-end">
            <a
              href="javascript:void(0);"
              class="btn btn-light"
              data-bs-dismiss="modal"
              >Cancel</a
            >
            <button type="submit" class="btn btn-danger">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add New View -->
