<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h3 class="page-title">Leads Dashboard</h3>
            </div>
            <div class="col-md-8 float-end ms-auto">
              <div class="d-flex title-head">
                <div
                  class="daterange-picker d-flex align-items-center justify-content-center"
                >
                  <div class="form-sort me-2">
                    <i class="ti ti-calendar"></i>
                    <input
                      type="text"
                      class="form-control date-range bookingrange"
                      bsDaterangepicker [bsConfig]="{ adaptivePosition: true }"
                      [(ngModel)]="bsRangeValue"
                    />
                  </div>
                  <div class="head-icons mb-0">
                    <a
                      [routerLink]="routes.leadsDashboard"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      data-bs-original-title="Refresh" matTooltip="Refresh"
                      ><i class="ti ti-refresh-dot"></i
                    ></a>
                    <app-collapse-header></app-collapse-header>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-header border-0 pb-0">
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
									<h4><i class="ti ti-grip-vertical me-1"></i>Recently Created Leads</h4>
									<div class="dropdown">
										<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
											<i class="ti ti-calendar-check me-2"></i>Last 30 days
										</a>
										<div class="dropdown-menu dropdown-menu-end">
											<a href="javascript:void(0);" class="dropdown-item">
												Last 15 days
											</a>
											<a href="javascript:void(0);" class="dropdown-item">
												Last 30 days
											</a>
										</div>
									</div>
								</div>
							</div>
              <div class="card-body">
                <div class="table-responsive custom-table">
                  <table class="table dataTable" id="lead-project">
                    <thead class="thead-light">
                      <tr>
                        <th>Lead Name</th>
                        <th>Company Name</th>
                        <th>Phone</th>
                        <th>Lead Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd">
                        <td>Collins</td>
                        <td>
                          <h2 class="table-avatar d-flex align-items-center">
                            <a [routerLink] = "routes.companiesDetails" class="avatar avatar-sm border me-2"
                              ><img
                                class="w-auto h-auto"
                                src="assets/img/icons/company-icon-01.svg"
                                alt="User Image" /></a
                            ><a
                              [routerLink] = "routes.companiesDetails"
                              class="profile-split d-flex flex-column"
                              >NovaWave LLC<span>Newyork, USA </span></a
                            >
                          </h2>
                        </td>
                        <td>+1 875455453</td>
                        <td>
                          <span class="badge badge-pill bg-pending">
                            Not Contacted</span
                          >
                        </td>
                      </tr>
                      <tr class="even">
                        <td>Konopelski</td>
                        <td>
                          <h2 class="table-avatar d-flex align-items-center">
                            <a [routerLink] = "routes.companiesDetails" class="avatar avatar-sm border me-2"
                              ><img
                                class="w-auto h-auto"
                                src="assets/img/icons/company-icon-02.svg"
                                alt="User Image" /></a
                            ><a
                              [routerLink] = "routes.companiesDetails"
                              class="profile-split d-flex flex-column"
                              >BlueSky Industries<span>Winchester, KY </span></a
                            >
                          </h2>
                        </td>
                        <td>+1 989757485</td>
                        <td>
                          <span class="badge badge-pill bg-warning">
                            Contacted</span
                          >
                        </td>
                      </tr>
                      <tr class="odd">
                        <td>Adams</td>
                        <td>
                          <h2 class="table-avatar d-flex align-items-center">
                            <a [routerLink] = "routes.companiesDetails" class="avatar avatar-sm border me-2"
                              ><img
                                class="w-auto h-auto"
                                src="assets/img/icons/company-icon-03.svg"
                                alt="User Image" /></a
                            ><a
                              [routerLink] = "routes.companiesDetails"
                              class="profile-split d-flex flex-column"
                              >SilverHawk<span>Jametown, NY </span></a
                            >
                          </h2>
                        </td>
                        <td>+1 546555455</td>
                        <td>
                          <span class="badge badge-pill bg-warning">
                            Contacted</span
                          >
                        </td>
                      </tr>
                      <tr class="even">
                        <td>Schumm</td>
                        <td>
                          <h2 class="table-avatar d-flex align-items-center">
                            <a [routerLink] = "routes.companiesDetails" class="avatar avatar-sm border me-2"
                              ><img
                                class="w-auto h-auto"
                                src="assets/img/icons/company-icon-04.svg"
                                alt="User Image" /></a
                            ><a
                              [routerLink] = "routes.companiesDetails"
                              class="profile-split d-flex flex-column"
                              >SummitPeak<span>Compton, RI </span></a
                            >
                          </h2>
                        </td>
                        <td>+1 454478787</td>
                        <td>
                          <span class="badge badge-pill bg-pending">
                            Not Contacted</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex">
            <div class="card w-100">
              <div class="card-header border-0 pb-0">
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
									<h4><i class="ti ti-grip-vertical me-1"></i>Projects By Stage</h4>
								<div class="dropdown">
									<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
										Last 30 Days
									</a>
									<div class="dropdown-menu dropdown-menu-end">
										<a href="javascript:void(0);" class="dropdown-item">
											Last 30 Days
										</a>
										<a href="javascript:void(0);" class="dropdown-item">
											Last 15 Days
										</a>
										<a href="javascript:void(0);" class="dropdown-item">
											Last 7 Days
										</a>
									</div>
								</div>
								</div>
							</div>
              <div class="card-body">
               
                <div id="leadpiechart">
                  <apx-chart
                    [series]="chartOptions3.series"
                    [chart]="chartOptions3.chart"
                    [labels]="chartOptions3.labels"
                    [responsive]="chartOptions3.responsive"
                    [legend]="chartOptions3.legend"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="card w-100">
              <div class="card-header border-0 pb-0">
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
									<h4><i class="ti ti-grip-vertical me-1"></i>Projects By Stage</h4>
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Sales Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">														
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>										
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 15 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 7 Days
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
              <div class="card-body">
                <div id="contact-report">
                  <apx-chart
                    [series]="chartOptions4.series"
                    [chart]="chartOptions4.chart"
                    [xaxis]="chartOptions4.xaxis"
                    [dataLabels]="chartOptions4.dataLabels"
                    [grid]="chartOptions4.grid"
                    [stroke]="chartOptions4.stroke"
                    [title]="chartOptions4.title"
                    [colors]="chartOptions4.colors"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header border-0 pb-0">
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
									<h4><i class="ti ti-grip-vertical me-1"></i>Leads By Stage</h4>
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Marketing Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">														
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>										
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 3 months
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 12 months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
              <div class="card-body">
                
                <div id="last-chart">
                  <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions"
                    [xaxis]="chartOptions.xaxis"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header border-0 pb-0">
								<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
									<h4><i class="ti ti-grip-vertical me-1"></i>Won Deals Stage</h4>
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Marketing Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">														
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>										
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 3 months
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 12 months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
              <div class="card-body">
                <div id="won-chart">
                  <apx-chart
                    [series]="chartOptions2.series"
                    [chart]="chartOptions2.chart"
                    [dataLabels]="chartOptions2.dataLabels"
                    [plotOptions]="chartOptions2.plotOptions"
                    [xaxis]="chartOptions2.xaxis"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
